.buttonBuy {
  padding: 10px 20px;
  text-transform: uppercase;

  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;

  transition: 0.2s ease-in-out;
  user-select: none;
}

.buttonBuy:hover,
.buttonBuy:focus {
    color: #ffffff;
    background: rgba(99, 102, 241, 0.3);

    text-shadow: 0 0 2px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 2px rgba(99, 102, 241, 0.8), 0 0 10px rgba(99, 102, 241, 0.8), 0 0 40px rgba(99, 102, 241, 0.8),
        0 0 90px rgba(99, 102, 241, 0.8);
}

